<div class="cc-main">
  <h1 class="cc-title">{{ title | titlecase }}</h1>

  <form class="cc-cipher-form" #cipherForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset class="form-group">
      <label for="phrase">Phrase</label>
      <input
        [ngClass]="{
          'cc-invalid': phrase.invalid && phrase.touched,
          'form-control': true
        }"
        type="text"
        aria-describedby="phraseHelp"
        name="phrase"
        #phrase="ngModel"
        [(ngModel)]="cipherModel.phrase"
        placeholder="I Love JavaScript!"
        required
      />
      <small
        id="phraseHelp"
        [class.cc-hidden]="phrase.valid || phrase.untouched"
        >Enter the phrase to cipher</small
      >
    </fieldset>
    <fieldset class="form-group">
      <label for="offset">Offset</label>
      <input
        [ngClass]="{
          'cc-invalid': offset.invalid && offset.touched,
          'form-control cc-cipher-form__offset': true
        }"
        type="number"
        id="offset"
        name="offset"
        #offset="ngModel"
        [(ngModel)]="cipherModel.offset"
        min="0"
        placeholder="100"
        required
      />
      <small
        id="phraseHelp"
        [class.cc-hidden]="offset.valid || offset.untouched"
        >Indicate what number of spots to offset your phrase</small
      >
    </fieldset>
    <button
      [disabled]="cipherForm.form.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Cipher it!
    </button>
  </form>

  <section>
    <h2 class="cc-h2">Ciphered phrase</h2>
    <p class="cc-ciphered-phrase">
      {{ cipheredPhrase }}
      <span *ngIf="!cipheredPhrase" class="cc-ciphered-phrase__placeholder"
        >E hkra FwrwOynelp!</span
      >
    </p>
    <p *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </p>
  </section>
</div>
